# Assignment 2: Milestone I Natural Language Processing
## Task 1. Basic Text Pre-processing
#### Student Name: XXXX XXXX
#### Student ID: 000000

Date: XXXX

Version: 1.0

Environment: Python 3 and Jupyter notebook

Libraries used: please include all the libraries you used in your assignment, e.g.,:
* pandas
* re
* numpy

## Introduction
You should give a brief information of this assessment task here.

<span style="color: red"> Note that this is a sample notebook only. You will need to fill in the proper markdown and code blocks. You might also want to make necessary changes to the structure to meet your own needs. Note also that any generic comments written in this notebook are to be removed and replace with your own words.</span>

## Importing libraries

In [107]:
# Code to import libraries as you need in this assessment, e.g.,
import os
import re
import pandas as pd
import numpy

### 1.1 Examining and loading data
- xamine the data folder, including the categories and job advertisment txt documents, etc. Explain your findings here, e.g., number of folders and format of txt files, etc.
- Load the data into proper data structures and get it ready for processing.
- Extract webIndex and description into proper data structures.

In [121]:
# Code to inspect the provided data file...
import os
path = "./data/"
path = "./data/"
dirs = os.listdir( path )
listData=[]
for i in dirs:
    if not i.startswith('.'):
        path1=path+i
        for j in os.listdir(path+i):
            path2=path1+'/'+j
            with open(path2,'r',encoding='utf-8') as f:
                lines = f.readlines()
                result = re.fullmatch(r'(.+:\s(\d+).+)', str(lines))
                result1=re.fullmatch(r'(.+Description:\s(.*)"])', str(lines))
                if result:
                    solution1=str(result.group(2))
                if result1:
                    solution2=str(result1.group(2))
                listData.append([i,solution1,solution2])

### 1.2 Pre-processing data
Perform the required text pre-processing steps.

In [122]:
df = pd.DataFrame (listData, columns = ['Job_Category', 'Webindex','Description'])
df

,Job_Category,Webindex,Description
0,Accounting_Finance,68802053,A market leading retail business is going thro...
1,Accounting_Finance,70757636,A market leading retail business is going thro...
2,Accounting_Finance,71356489,A market leading retail business is going thro...
3,Accounting_Finance,69073629,"Excellent opportunity to join our client, an e..."
4,Accounting_Finance,70656648,Our client offers a interesting opportunity fo...
...,...,...,...
771,Sales,68056671,We are Looking for Norwegian speaker with team...
772,Sales,68256016,Our client is a Yorkshire based well establish...
773,Sales,71737507,LOCATION: Peterborough JOB TITLE: Marketing Ex...
774,Sales,70205492,Our client based in the outskirts of Poole in ...
775,Sales,72444142,Our client based in the outskirts of Poole in ...

...... Sections and code blocks on basic text pre-processing


<span style="color: red"> You might have complex notebook structure in this section, please feel free to create your own notebook structure. </span>

In [152]:
# code to perform the task...
def tokenized_word(sal):
    return re.findall(r"[a-zA-Z]+(?:[-'][a-zA-Z]+)?",sal)
def remove_words(sal):
    salList=sal
    return list(filter(lambda x: len(x) >2, sal))
    
#         if len(i)<2:
#             print(len(i),i)
#             a = list(filter(lambda x: x != [0, 0], a))
            
df['Description']= df['Description'].str.lower()
df['Description_tokenized']=df['Description'].apply(lambda x: tokenized_word(x))
df['Description_tokenized_lenG2']=df['Description_tokenized'].apply(lambda x: remove_words(x))
df

,Job_Category,Webindex,Description,Description_tokenized,Description_tokenized_lenG2
0,Accounting_Finance,68802053,a market leading retail business is going thro...,"[a, market, leading, retail, business, is, goi...","[market, leading, retail, business, going, thr..."
1,Accounting_Finance,70757636,a market leading retail business is going thro...,"[a, market, leading, retail, business, is, goi...","[market, leading, retail, business, going, thr..."
2,Accounting_Finance,71356489,a market leading retail business is going thro...,"[a, market, leading, retail, business, is, goi...","[market, leading, retail, business, going, thr..."
3,Accounting_Finance,69073629,"excellent opportunity to join our client, an e...","[excellent, opportunity, to, join, our, client...","[excellent, opportunity, join, our, client, ex..."
4,Accounting_Finance,70656648,our client offers a interesting opportunity fo...,"[our, client, offers, a, interesting, opportun...","[our, client, offers, interesting, opportunity..."
...,...,...,...,...,...
771,Sales,68056671,we are looking for norwegian speaker with team...,"[we, are, looking, for, norwegian, speaker, wi...","[are, looking, for, norwegian, speaker, with, ..."
772,Sales,68256016,our client is a yorkshire based well establish...,"[our, client, is, a, yorkshire, based, well, e...","[our, client, yorkshire, based, well, establis..."
773,Sales,71737507,location: peterborough job title: marketing ex...,"[location, peterborough, job, title, marketing...","[location, peterborough, job, title, marketing..."
774,Sales,70205492,our client based in the outskirts of poole in ...,"[our, client, based, in, the, outskirts, of, p...","[our, client, based, the, outskirts, poole, do..."
775,Sales,72444142,our client based in the outskirts of poole in ...,"[our, client, based, in, the, outskirts, of, p...","[our, client, based, the, outskirts, poole, do..."

## Saving required outputs
Save the vocabulary, bigrams and job advertisment txt as per spectification.
- vocab.txt

In [157]:
# code to save output data...
df.head()

,Job_Category,Webindex,Description,Description_tokenized,Description_tokenized_lenG2
0,Accounting_Finance,68802053,a market leading retail business is going thro...,"[a, market, leading, retail, business, is, goi...","[market, leading, retail, business, going, thr..."
1,Accounting_Finance,70757636,a market leading retail business is going thro...,"[a, market, leading, retail, business, is, goi...","[market, leading, retail, business, going, thr..."
2,Accounting_Finance,71356489,a market leading retail business is going thro...,"[a, market, leading, retail, business, is, goi...","[market, leading, retail, business, going, thr..."
3,Accounting_Finance,69073629,"excellent opportunity to join our client, an e...","[excellent, opportunity, to, join, our, client...","[excellent, opportunity, join, our, client, ex..."
4,Accounting_Finance,70656648,our client offers a interesting opportunity fo...,"[our, client, offers, a, interesting, opportun...","[our, client, offers, interesting, opportunity..."

In [175]:
stop_words=[]

with open('./stopwords_en.txt','r',encoding='utf-8') as f:
    lines = f.readlines()
    for i in lines:
        stop_words.append(i.strip())
# stop_words

In [177]:
def remove_stopWords(sal):
    return list(filter(lambda x: x not in stop_words, sal))   
df['Description_stopWordsRe']=df['Description_tokenized_lenG2'].apply(lambda x: remove_stopWords(x))
df.head()

,Job_Category,Webindex,Description,Description_tokenized,Description_tokenized_lenG2,Description_stopWordsRe
0,Accounting_Finance,68802053,a market leading retail business is going thro...,"[a, market, leading, retail, business, is, goi...","[market, leading, retail, business, going, thr...","[market, leading, retail, business, rapid, gro..."
1,Accounting_Finance,70757636,a market leading retail business is going thro...,"[a, market, leading, retail, business, is, goi...","[market, leading, retail, business, going, thr...","[market, leading, retail, business, rapid, gro..."
2,Accounting_Finance,71356489,a market leading retail business is going thro...,"[a, market, leading, retail, business, is, goi...","[market, leading, retail, business, going, thr...","[market, leading, retail, business, rapid, gro..."
3,Accounting_Finance,69073629,"excellent opportunity to join our client, an e...","[excellent, opportunity, to, join, our, client...","[excellent, opportunity, join, our, client, ex...","[excellent, opportunity, join, client, expandi..."
4,Accounting_Finance,70656648,our client offers a interesting opportunity fo...,"[our, client, offers, a, interesting, opportun...","[our, client, offers, interesting, opportunity...","[client, offers, interesting, opportunity, par..."

## Summary
Give a short summary and anything you would like to talk about the assessment task here.

## Couple of notes for all code blocks in this notebook
- please provide proper comment on your code
- Please re-start and run all cells to make sure codes are runable and include your output in the submission.   
<span style="color: red"> This markdown block can be removed once the task is completed. </span>